/*______GENERAL_______*/
/*_____________________Atoms___________________________*/
/*___visibility__*/
.mobileHidden {
  display: none; }

.desktopHidden {
  display: inherit; }

/*____tools____*/
.imgContain {
  background-size: contain; }

.noBackRepeat {
  background-repeat: no-repeat;
  background-position: center; }

.hiddenOverflow {
  overflow: hidden; }

.lineaDivision {
  height: 3px;
  width: 100%;
  background-color: #CAE500; }

/*____spacing____*/
.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*___INPUTS___*/
.coloresInput {
  color: #656660;
  background-color: #FCFEF1;
  border-color: #656660; }

/*___BOTONES___*/
.coloresBoton {
  color: #FCFEF1;
  background-color: #CAE500;
  border-color: #656660; }

/*MOBILE FIRST*/
* {
  margin: 0;
  padding: 0; }

html {
  font-family: "popins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth; }

/*__________________INDEX____________________*/
.mainInicio {
  display: flex;
  flex-direction: column; }

.home {
  margin-bottom: 5rem; }

.cobraMainTitle {
  font-size: 48px;
  color: #CAE500;
  font-weight: 900;
  text-align: center; }

.homeLogo {
  width: 320px;
  height: 320px; }

.swipeUp {
  width: 50px;
  height: 50px; }

.idBanner {
  height: 503px;
  width: 19.438rem;
  border-radius: 10px; }

.banners {
  height: 503px;
  width: 19.438rem;
  border-radius: 10px; }

.bannerContainerMobile {
  height: 103.625rem;
  background-image: url("../img/home-Img/home-mobile-bg.svg"); }

.bannerContainerDesktop {
  display: none; }

.inicioSecCobraClub {
  background-image: url("../img/home-Img/banner-CobraClub.png"); }

.inicioSecProductos {
  background-image: url("../img/home-Img/banner-Collections.png"); }

.inicioSecCrypto {
  background-image: url("../img/home-Img/banner-crypto.png"); }

/*__________________pag COBRA CLUB____________________*/
.CCmain {
  overflow: hidden; }

#click {
  display: none; }

#click:checked ~ .mute {
  opacity: 1;
  visibility: visible; }

.boton-mute {
  position: relative;
  right: 31%;
  margin-top: 0.7rem; }

.mute {
  position: absolute;
  top: 0%;
  opacity: 0;
  visibility: hidden; }

.audioWaves {
  background-image: url("../img/audioWaves.svg");
  z-index: -1;
  width: 5rem;
  height: 3.125rem; }

.gradientSubtitle {
  background: -webkit-linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 0; }

.infoBenefits {
  margin-top: 20px;
  margin-left: 3px;
  width: 50vw;
  height: inherit;
  padding-top: 5vw; }

.bgInfoBenefits {
  background-image: url("../img/cobraClub-Img/bgBenefits.svg");
  width: 100%;
  height: 100vw;
  background-size: cover; }

.benHeading {
  font-size: 14px;
  margin-top: -8px; }

.listBenefits {
  height: 60%;
  text-align: center;
  color: #CAE500;
  font-size: 14px; }

.benDisclaimer {
  font-size: 2vw; }

.pricingBanner {
  background-image: url("../img/cobraClub-Img/pricing-bg.jpg");
  background-size: cover;
  width: 100%; }

.cobraClubCards {
  color: #000; }

.CCinvestor {
  background-color: #CAE500; }

.nftText {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0; }

.nftsContainer {
  background-image: url("../img/cobraClub-Img/bgNfts.svg");
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr, 5);
  margin-bottom: 50px; }

.nftsContainer div {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 27px 0px; }

/*__________________pag PRODUCTOS____________________*/
.gridDestacados {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  color: #000;
  background-image: url("../img/GreenAesthetic/greenBunnyMod.jpg");
  /*height: 100vh;*/ }

.gridDestacados img {
  width: 9.375rem;
  height: 11.25rem; }

.destacado1 {
  background-position: right;
  background-image: url("../img/collections-Img/products-destacado-right.svg"); }

.destacado2 {
  background-position: left;
  background-image: url("../img/collections-Img/products-destacado-left.svg"); }

.destacado3 {
  background-position: right;
  background-image: url("../img/collections-Img/products-destacado-right.svg"); }

.productosContainer {
  background-image: url("../img/collections-Img/all-products-bg.svg");
  color: #000;
  background-size: cover; }

.productosContent {
  margin-left: 1rem;
  margin-top: 0.5rem; }

.productosContent div {
  padding: 20px 0px; }

.galeriaProductos a {
  text-decoration: none; }

.galeriaProductos img {
  width: 9.375rem;
  height: 9.375rem;
  margin: 5px 5px;
  border-radius: 10px; }

.membersOnly {
  width: 80%; }

/*__________________pag TALLES____________________*/
.sizingText {
  height: 5.625rem;
  background-image: url("../img/sizings-Img/SizingTextBg.svg"); }

.sizingText p {
  width: 13.125rem;
  margin: auto; }

.gridTalles {
  margin-top: 20px;
  margin-right: 1%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 50px); }

.gridTalles div {
  border: solid 1px #fff;
  text-align: center; }

.tableTitle {
  color: #CAE500; }

/*__________________pag CRYPTO____________________*/
.secCryptoSwap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px; }

.cSwap {
  height: 31.25rem;
  width: 21.875rem; }

.infoCrypto {
  width: 80vw;
  text-align: center;
  border: solid 3px #CAE500;
  border-style: dashed;
  margin: 20px 0px 20px 0px; }

/*__________________pag CONTACTO____________________*/
.contenidoContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.subtContact {
  margin: 30px;
  text-align: center; }

.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.contactSubtitle {
  font-size: 22px;
  margin-bottom: 30px; }

.contactBoxes {
  height: 2rem;
  width: 300px; }

.contactTextarea {
  width: 80%;
  height: 200px; }

.sendBtn {
  width: 80%;
  height: 3rem; }

.clearBtn {
  width: 40%;
  height: 3rem; }

.contactForm * {
  margin: 0.5rem 0rem; }

.contactForm select {
  height: 2.188rem;
  width: 12.5rem; }

.contactDiv span {
  background-color: #CAE500;
  color: #1D1D1D; }

.formLetter {
  font-family: "popins", sans-serif;
  font-weight: 600; }

.parrafoDispo {
  margin: 0px 30px 30px 30px;
  width: 70vw;
  text-align: center; }

.staff {
  display: flex;
  flex-direction: column;
  align-items: center; }

.animate__tada {
  animation-name: miFoto; }

.staffName {
  margin-bottom: 20px; }

/*-------SINTAXIS scss---------*/
.sintaxisEj1 h1 {
  font-size: 5rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h2 {
  font-size: 2.5rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h3 {
  font-size: 1.66667rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h4 {
  font-size: 1.25rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h5 {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h6 {
  font-size: 0.83333rem;
  text-decoration: underline;
  font-weight: bold; }

.sintaxisEj1 h1 {
  color: #f94144; }

.sintaxisEj1 h2 {
  color: #f8961e; }

.sintaxisEj1 h3 {
  color: #f9c74f; }

.sintaxisEj1 h4 {
  color: #90be6d; }

.sintaxisEj1 h5 {
  color: #43aa8b; }

.sintaxisEj1 h6 {
  color: #577590; }

/*____texts____*/
.noUnderline {
  text-decoration: none; }

.textoVerde {
  color: #CAE500; }

.subrayadoVerde {
  text-decoration: underline;
  text-decoration-color: #CAE500; }

.subtitulo {
  color: #fff;
  font-weight: 600;
  font-size: 42px; }

.h1SecondaryPages {
  margin: 0px;
  padding: 0px; }

/*______________________FOOTER__________________________*/
footer {
  color: #fff;
  height: 55vh; }

footer p {
  text-align: center; }

.contenedorFoot {
  display: flex; }

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.footerSocials a {
  text-decoration: none;
  margin-top: 2.80vh; }

.footerSocials img {
  width: 2.813rem;
  height: 2.813rem; }

.btnTOP {
  margin-top: 30px;
  text-align: center; }

.btnTOP a {
  text-decoration: none;
  font-style: normal; }

.btnTOP span {
  border: 2px solid #fff;
  padding: 2px; }

.news p {
  background-color: #CAE500;
  display: inline-block;
  color: #FCFEF1; }

.newsletter form {
  width: 80%; }

.newsEmail {
  font-weight: 600; }

.footerStory img {
  width: 100%; }

.footerTxt {
  padding-top: 50px; }

/*______@media tablet_______*/
@media (min-width: 576px) and (max-width: 1023px) {
  /*__________________header____________________*/
  .checkoutBag {
    margin-left: 20px; }
  /*__________________COMUN EN TODA PAG____________________*/
  .subtitulo {
    font-size: 32px; }
  .subtitulo:hover {
    text-decoration: underline; }
  /*__________________INDEX____________________*/
  .swipeUp {
    display: none; }
  .mainInicio {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex; }
  .home {
    margin-bottom: 0rem; }
  .bannerContainerMobile {
    display: none; }
  .bannerContainerDesktop {
    display: flex;
    width: 100vw; }
  .bannerContainerDesktop h2 {
    font-size: 4vw; }
  .banners {
    height: 37.5rem;
    width: 33vw; }
  /*__________________pag COBRA CLUB____________________*/
  .benHeading {
    font-size: 22px; }
  .listBenefits {
    font-size: 18px; }
  .listBenefits img {
    width: 30px; }
  .sectionPricing {
    display: flex; }
  .nftsContainer {
    background-image: url("../img/cobraClub-Img/bgNftsDesktop.svg");
    height: 16.25rem;
    width: 90rem; }
  .nftsContainer div {
    margin-top: 30px; }
  .nftsContainer img {
    width: 12.5rem;
    height: 12.5rem; }
  /*__________________pag PRODUCTOS____________________*/
  .destacado1 {
    background-image: url("../img/collections-Img/products-destacado-right.svg"); }
  .destacado2 {
    background-image: url("../img/collections-Img/products-destacado-left.svg"); }
  .destacado3 {
    background-image: url("../img/collections-Img/products-destacado-right.svg"); }
  .productosContainer {
    background-image: url("../img/collections-Img/all-products-bg-desktop.svg"); }
  .productosContent {
    margin-left: 3rem;
    margin-top: 2rem; }
  .gridDestacados img {
    width: 14.375rem;
    height: 15.625rem; }
  .galeriaProductos img {
    width: 200px;
    height: 250px;
    margin: 5px 5px; }
  .galeriaProductos img:hover {
    transform: scale(1.05, 1.05);
    opacity: 60%; }
  /*__________________pag TALLES____________________*/
  /*__________________pag CRYPTO____________________*/
  .infoCrypto {
    width: 26.25rem; }
  /*__________________pag CONTACTO____________________*/
  .contenidoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
  .contactFila2 .staff {
    margin-top: 10vh; }
  .parrafoDispo {
    width: 20vw; }
  .formButton:hover {
    background-color: #CAE500;
    opacity: 90%; }
  .staff img:hover {
    animation: miFoto; } }

/*______@media dektop_______*/
@media (min-width: 1024px) {
  .mobileHidden {
    display: inherit; }
  .desktopHidden {
    display: none; }
  /*__________________MOVER CONTENIDOS____________________*/
  .movContenidoDerecha {
    margin-left: 14vw;
    /*13.02vw*/ }
  /*__________________header____________________*/
  .checkoutBag {
    margin-left: 20px; }
  /*__________________COMUN EN TODA PAG____________________*/
  .subtitulo {
    font-size: 32px; }
  /*__________________INDEX____________________*/
  .swipeUp {
    display: none; }
  .mainInicio {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden; }
  .home {
    margin-bottom: 0rem; }
  .bannerContainerMobile {
    display: none; }
  .bannerContainerDesktop {
    display: flex; }
  .bannerContainerDesktop h2 {
    font-size: 2.5vw; }
  .idBanner {
    height: 37.5rem;
    width: 21.4vw; }
  .banners {
    height: 37.5rem;
    width: 21.4vw; }
  .banners:hover {
    transform: scale(1.05, 1.05); }
  /*__________________pag COBRA CLUB____________________*/
  .infoBenefits {
    width: 44vw; }
  .benHeading {
    font-size: 32px; }
  .listBenefits {
    font-size: 24px; }
  .listBenefits img {
    width: 50px; }
  .sectionPricing {
    display: flex; }
  .nftsContainer {
    background-image: url("../img/cobraClub-Img/bgNftsDesktop.svg");
    height: 16.25rem;
    width: 90rem; }
  .nftsContainer div {
    margin-top: 30px; }
  .nftsContainer img {
    width: 12.5rem;
    height: 12.5rem; }
  /*__________________pag PRODUCTOS____________________*/
  .destacado1 {
    background-image: url("../img/collections-Img/products-destacado-right.svg"); }
  .destacado2 {
    background-image: url("../img/collections-Img/products-destacado-left.svg"); }
  .destacado3 {
    background-image: url("../img/collections-Img/products-destacado-right.svg"); }
  .productosContainer {
    background-image: url("../img/collections-Img/all-products-bg-desktop.svg"); }
  .productosContent {
    margin-left: 3rem;
    margin-top: 2rem; }
  .gridDestacados img {
    width: 14.375rem;
    height: 15.625rem; }
  .gridDestacados img:hover {
    transform: scale(1.05, 1.05); }
  .galeriaProductos img {
    width: 200px;
    height: 250px;
    margin: 5px 5px; }
  .galeriaProductos img:hover {
    transform: scale(1.05, 1.05); }
  /*__________________pag TALLES____________________*/
  /*__________________pag CRYPTO____________________*/
  .secCryptoSwap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  .infoCrypto {
    width: 26.25rem; }
  /*__________________pag CONTACTO____________________*/
  .contenidoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
  .contactFila2 .staff {
    margin-top: 10vh; }
  .parrafoDispo {
    width: 20vw; }
  .formButton:hover {
    background-color: #CAE500;
    opacity: 90%; }
  .staff img:hover {
    animation: miFoto; } }

@media (min-width: 1024px) {
  .dashboard {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1D1D1D;
    width: 13.02vw;
    height: 100vh;
    margin: 0;
    padding: 0; }
  .dashboard ul {
    align-items: center; }
  .dashboard ul li {
    margin: 0.5rem 0rem; }
  /*IMAGEN SIDEBAR*/
  .dashImage a img {
    display: block;
    margin: auto;
    width: 13.02vw;
    height: 200px; }
  .dashImage a img:hover {
    opacity: 80%; }
  /*MENU SIDEBAR*/
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 20px; }
  .menu ul li {
    margin: 20px 0px; }
  .menu ul li a {
    text-decoration: none;
    color: #fff; }
  .submenu ul {
    display: none; }
  .submenu ul li:hover {
    background-color: #CAE500; }
  .submenu:hover ul {
    display: block; }
  .menu a:hover {
    color: #CAE500;
    font-weight: 700; }
  .submenu ul a:hover {
    color: #1D1D1D;
    font-weight: 900;
    opacity: 90%; }
  /*REDES SIDEBAR*/
  .dashSocials {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .dashSocials img {
    width: 1.25rem;
    height: 1.25rem; } }

@media (min-width: 1024px) {
  /*______________________FOOTER__________________________*/
  .footerSocials img {
    width: 2.5rem;
    height: 2.5rem; }
  .animate__rubberBand {
    animation-name: fsocials; }
  .footerSocials img:hover {
    animation: fsocials; }
  .footerStory img {
    width: 200px; }
  .footerTxt {
    font-size: 14px;
    text-align: center; }
  .footerParrafo {
    margin: 0px 100px; } }
