@media (min-width: 1024px){
    /*______________________FOOTER__________________________*/
    .footerSocials img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .animate__rubberBand {
        animation-name: fsocials;
    }
    
    .footerSocials img:hover {
        animation: fsocials;
    }

    .footerStory img{
        width: 200px;
    }

    .footerTxt {
        font-size: 14px;
        text-align: center;
    }

    .footerParrafo {
        margin: 0px 100px;
    }
}