//___Colors___
$main-color-black: #000;
$main-color-white: #fff;
$main-color-green: #CAE500;
$main-color-greenish-white: #FCFEF1;
$color-success: #0BA89F;
$color-grey-bg: #656660;
$color-muted-black: #1D1D1D;

//___Font___
$main-font: 'popins', sans-serif;